<div class="user">
	<% if(user){ %>
		<div class="logined">
		<%if(user.head){ %>
			<img class="headImg" src="<%=user.head %>" alt="">
		<%}else{ %>
			<img class="headImg" src="../public/images/user/lazy.jpg"  alt="">
		<%} %>
		<i class="tri"></i>
		<ul class="dropList none">
			<li><a href="/">主页</a></li>
			<li><a href="/write">写文章</a></li>
			<li><a href="">帮助</a></li>
			<li><a href="/logout">登出</a></li>
		</ul>
		</div>
	<%}else{ %>
		<div class="not-login">
			<a class="home" href="/">主页</a>
			<a class="login" href="/login">登录</a>
		</div>
	<%} %>
</div>