<!DOCTYPE html>
<html lang="en">
<head>
	<title>谢小飞的博客</title>
	<link rel="icon" href="../public/images/favicon.ico" mce_href="../public/images/favicon.ico" type="image/x-icon">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/default.css" />
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/component.css" />
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/index.css">
	<script src="../public/javascripts/modernizr.custom.js"></script>
</head>
<body>

	<div class="container">
		<header>
			<h1>My Blog</h1>
		</header>
		<ul class="grid effect-2" id="grid">
			<li>
				<div class="box">
					<h2><a href="">Morning Glory</a></h2>
					<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of autumn which I enjoy with my whole heart.</p>
					<div class="details">
						<div class="time">2016-09-15</div>
						<div class="likes">3123123</div>
						<div class="favors">432</div>
					</div>
				</div>
			</li>
			<li>
				<div class="box">
					<h2><a href="">Morning Glory</a></h2>
					<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of autumn which I enjoy with my whole heart.like these sweet mornings of autumn which I enjoy with my whole heart</p>
					<div class="details">
						<div class="time">2016-09-15</div>
						<div class="likes">3123123</div>
						<div class="favors">432</div>
					</div>
				</div>
			</li>
			<li>
				<div class="box">
					<h2><a href="">Morning Glory</a></h2>
					<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of autumn which I enjoy with my whole heart. possession of my entire soul, like these sweet mornings of autumn which</p>
					<div class="details">
						<div class="time">2016-09-15</div>
						<div class="likes">3123123</div>
						<div class="favors">432</div>
					</div>
				</div>
			</li>
			<li>
				<div class="box">
					<h2><a href="">Morning Glory</a></h2>
					<p>A wonderful serenity has taken possession of my entire soul.</p>
					<div class="details">
						<div class="time">2016-09-15</div>
						<div class="likes">3123123</div>
						<div class="favors">432</div>
					</div>
				</div>
			</li>
			<li>
				<div class="box">
					<h2><a href="">Morning Glory</a></h2>
					<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of autumn which I enjoy with my</p>
					<div class="details">
						<div class="time">2016-09-15</div>
						<div class="likes">3123123</div>
						<div class="favors">432</div>
					</div>
				</div>
			</li>
			<li>
				<div class="box">
					<h2><a href="">Morning Glory</a></h2>
					<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of autumn which I enjoy with my whole heart which I enjoy with my whole heart.</p>
					<div class="details">
						<div class="time">2016-09-15</div>
						<div class="likes">3123123</div>
						<div class="favors">432</div>
					</div>
				</div>
			</li>
			<li>
				<div class="box">
					<h2><a href="">Morning Glory</a></h2>
					<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of autumn which I enjoy with my whole heart which I enjoy with my whole heart.</p>
					<div class="details">
						<div class="time">2016-09-15</div>
						<div class="likes">3123123</div>
						<div class="favors">432</div>
					</div>
				</div>
			</li>
			<li>
				<div class="box">
					<h2><a href="">Morning Glory</a></h2>
					<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of autumn which I enjoy with my whole heart which I enjoy with my whole heart.</p>
					<div class="details">
						<div class="time">2016-09-15</div>
						<div class="likes">3123123</div>
						<div class="favors">432</div>
					</div>
				</div>
			</li>
			<li>
				<div class="box">
					<h2><a href="">Morning Glory</a></h2>
					<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of autumn which I enjoy with my whole heart which I enjoy with my whole heart.</p>
					<div class="details">
						<div class="time">2016-09-15</div>
						<div class="likes">3123123</div>
						<div class="favors">432</div>
					</div>
				</div>
			</li>
			<li>
				<div class="box">
					<h2><a href="">Morning Glory</a></h2>
					<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of autumn which I enjoy with my whole heart which I enjoy with my whole heart.</p>
					<div class="details">
						<div class="time">2016-09-15</div>
						<div class="likes">3123123</div>
						<div class="favors">432</div>
					</div>
				</div>
			</li>
			<li>
				<div class="box">
					<h2><a href="">Morning Glory</a></h2>
					<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of autumn which I enjoy with my whole heart which I enjoy with my whole heart.</p>
					<div class="details">
						<div class="time">2016-09-15</div>
						<div class="likes">3123123</div>
						<div class="favors">432</div>
					</div>
				</div>
			</li>
			<li>
				<div class="box">
					<h2><a href="">Morning Glory</a></h2>
					<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of autumn which I enjoy with my whole heart which I enjoy with my whole heart.</p>
					<div class="details">
						<div class="time">2016-09-15</div>
						<div class="likes">3123123</div>
						<div class="favors">432</div>
					</div>
				</div>
			</li>
		</ul>
	</div>

</body>

<script type="text/javascript" src="../public/javascripts/jquery.js"></script>
<script type="text/javascript" src="../public/javascripts/jquery.backstretch.min.js"></script>
<script src="../public/javascripts/masonry.pkgd.min.js"></script>
<script src="../public/javascripts/imagesloaded.js"></script>
<script src="../public/javascripts/classie.js"></script>
<script src="../public/javascripts/AnimOnScroll.js"></script>
<script>
	new AnimOnScroll(document.getElementById( 'grid' ), {
		minDuration : 1,
		maxDuration : 2,
		viewportFactor : 0
	});
	$.backstretch("../public/images/bg/1.jpg");

</script>

</html>
