<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>写文章</title>
	<link rel="icon" href="../public/images/favicon.ico" mce_href="../public/images/favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<script type="text/javascript">
        document.documentElement.style.fontSize = window.innerWidth / 6.4 + "px";
    </script>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/common.css">
	
</head>
<body>
	
</body>
<script type="text/javascript" src="../public/javascripts/jquery.min.js"></script>
</html>